/* My Styles */

.contain-to-grid{
	background: transparent;
}

h3{
	border-bottom: 2px solid red;
	font-family: 'Myriad pro', 'arial';
}

header{
	position: relative;
	padding-bottom: 2em;
}

header h1{
	position: absolute;
	bottom: 0;
	left: 48px;
	font-size: 2em;
}

/*Nav Bar Styling*/

.top-bar{
	height:3.75em; 
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background: #a10022;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background: #00325b;
}

/*Column 1 styling*/
.tabs-content > .content {
	border: 1px solid #000;
	border-top: none;
	padding:10px;
}

/*Column 2 styling*/
.panel.callout{
	background: #FF0033;
}

/*Modal*/
.reveal-modal-bg {
	background: rgba(255, 0, 0, 1);
}