/* My Styles */

body{
	font-family: 'Myriad pro', 'arial';
}

p{
	font-family: 'arial';
}

.contain-to-grid{
	background: transparent;
}

h3{
	border-bottom: 2px solid #a10022;
}

header{
	position: relative;
	padding-bottom: 2em;
}

header h1{
	position: absolute;
	bottom: 0;
	left: 48px;
	font-size: 2em;
}

/*Masthead*/

header img{
	border: solid 5px #a10022;
	border-top: none;
}

/*Nav Bar Styling*/

.top-bar{
	background: url(../img/banner-bg.png);
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background: #a10022;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background: #00325b;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: #a10022;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
	background: #00325b;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button){
	background: #a10022;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover{
	background: #00325b;
}

/*Column generic styling*/

.panel{
	border-color: #6d6e71;
	background: rgba(168/178/170/.3);
}

/*Column 1 styling*/



/*Column 2 styling*/

.tabs-content > .content{
	padding: 0;
}

.tabs dd > a{
	border: 1px solid;
	border-bottom:none;
	rgba(168/178/170/.3);
	border-color: #6d6e71;
	padding: 1em 1em;
}

.panel.callout{
	background: #FF0033;
}

/*Modal*/
.reveal-modal-bg {
	background: #a10022;
}